/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  width: 70%;
  margin: 0 auto;
  background-image: url('stageBackground.png');
  background-repeat: no-repeat;
  background-size: 100%;
}
header {
  border: solid black 15px;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: white;
}

#main-container {
  border: solid black 15px;
  border-radius: 5px;
  padding: 10px;
  background: white;
  height: 600px;
}

.cow {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border: solid black 8px;
  border-radius: 5px;
  width: 130px;
}



.cowImage{
  background-image: url('madCow.png');
  background-repeat: no-repeat;
  height: 100px;
  width: 110px;
}















