/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  font-family: 'Candal', sans-serif;
  width: 60%;
  margin: 0 auto;
  background-image: url('stageBackground.png');
  background-repeat: no-repeat;
  background-size: cover;
}
h3 {
  margin: 0;
}

header {
  border: solid black 15px;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: white;
  text-align: center;
}


header h1 {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-size: 40px;
}
header h2{
  font-size: 25px
}

#main-container {
  border: solid black 15px;
  border-radius: 5px;
  padding: 10px;
  background: white;
  min-height: 500px;

}

.cow {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border: solid black 8px;
  border-radius: 5px;
  width: 130px;
  background-color: red;
  text-align: center;
}

.cowImage{
  background-image: url('madCow.png');
  background-repeat: no-repeat;
  height: 100px;
  width: 110px;
}
.cowShotImage{
  background-image: url('madShotCow.png');
  background-repeat: no-repeat;
  height: 130px;
  width: 160px;
  display: inline-block;
}

.cowAttack {
  margin: 3px;
  padding: 7px;
  background: #36BF5C;
  width: 300px;
  border: solid black 3px;
}














