<h2>Aproach these Cows with extreme caution!!!</h2>
<%= link_to 'Add a victim', '/person/new' %>


<% @people.each do |person| %>

  <div class='person'>
    <h2>Victim Database</h2>
    <p>Victim ID: #<%= person.id %></p>
    <p>Name: <%= link_to person.name, person %></p>
    <p>Age: <%= person.age %></p>



  </div>
<% end %>